{% extends "/layouts/backend-base.twig" %}
{% block styleSheets %}
    <link rel="stylesheet" href="/assets/css/bs4-switches.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block content %}
    {% if flashMessages is defined %}
        {{ flashMessages|raw }}
    {% endif %}
    <div class="title-block">
        <div class="row">
            <div class="col-md-6">
                <h3 class="title">
                    <span>Asignar permisos</span>
                </h3>
                <p class="mb-0 title-description">Agregue permisos a los roles que desee</p>
            </div>
        </div>
    </div>
    <hr>
    <form id="dataTableForm">
        <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Permisos</th>
                {% for role in roles %}
                    <th>{{ role.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for permission in permissions %}
                {% set permIndex = loop.index %}
                <tr>
                    <td class="align-middle">
                        {{ permission.id }}
                    </td>
                    <td class="align-middle">
                        {{ permission.name }}
                    </td>
                    {% for key, roleNames in permissionsByRole %}
                        <td class="align-middle">
                            {% set count = 0 %}
                            {% for perm in roleNames %}
                                {% if permission.id == perm.permission_id %}
                                    {% set count = count + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if count>0 %}
                                <div class="form-group mb-0">
                                <span class="switch">
                                    <input type="checkbox"
                                           class="switch"
                                           id="checkbox-{{ key }}-{{ permIndex }}"
                                           checked="checked"
                                           name="permissions[{{ key }}][]"
                                           value="{{ permission.id }}"
                                    >
                                    <label class="mb-0" for="checkbox-{{ key }}-{{ permIndex }}"><span class="sr-only">true</span></label>
                                </span>
                                </div>
                            {% else %}
                                <div class="form-group mb-0">
                                <span class="switch">
                                    <input type="checkbox"
                                           class="switch"
                                           id="checkbox-{{ key }}-{{ permIndex }}"
                                           name="permissions[{{ key }}][]"
                                           value="{{ permission.id }}"
                                    >
                                    <label class="mb-0" for="checkbox-{{ key }}-{{ permIndex }}"><span class="sr-only">false</span></label>
                                </span>
                                </div>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="form-group mt-3">
            <button disabled id="btnSubmit" type="submit" class="btn btn-lg btn-primary">Guardar cambios</button>
        </div>
    </form>
    <form id="permissionForm" action='/backend/assign-permissions' method="post"></form>
{% endblock %}
{% block javaScripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#dataTable').DataTable();
            $('#dataTable tbody').on('change', 'input[type="checkbox"]', function () {
                $('#btnSubmit').removeAttr("disabled");
            });
            $('#dataTableForm').on('submit', function (e) {
                e.preventDefault();
                var form = $('#permissionForm');
                var params = table.$('input,select,textarea').serializeArray();
                $.each(params, function () {
                    if (!$.contains(document, form[this.name])) {
                        $(form).append(
                            $('<input>')
                                .attr('type', 'hidden')
                                .attr('name', this.name)
                                .val(this.value)
                        );
                    }
                });
                $(form).submit();
            });
        });
    </script>
{% endblock %}