{% extends "/layouts/base.twig" %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-12  col-md-8  col-xl-6">
            {% if flashMessages is defined %}
                {{ flashMessages|raw }}
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <h1 class="mb-0 h6">¿Olvidaste tu contraseña?</h1>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ base_url }}/forgot-password">
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input type="text"
                                   class="form-control"
                                   id="email"
                                   name="email"
                                   {% if app.session.old.email %}value="{{ app.session.old.email }}"{% endif %} >
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary">Restablecer la contraseña</button>
                        </div>
                        <div class="form-group text-center">
                            <a href="{{ base_url }}/login">Acceder</a> | <a
                                    href="{{ base_url }}/register">Registrarse</a>
                        </div>
                        <div class="text-center">
                            <i class="fa fa-arrow-left"></i> <a href="{{ base_url }}/">Ir a la página de inicio</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}